@{
    ViewData["Title"] = "ClientNewComplain";
}

<div>
    <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" id="compalin_title" placeholder="Title of the complain">
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" id="compalin_description" placeholder="Description of the complain"></textarea>
    </div>
    <div class="form-group">
        <label>Claim documents</label>
        <input type="file" id="file"/>

    </div>
    <ul id="docs" class="form-group">

    </ul>

    <button onclick="save()"  class="btn btn-primary">Submit</button>
</div>

<script>

    var fileNames = [];
    $("#file").on("change",
        function() {
            var formData = new FormData();
            var file = $('input[type=file]')[0].files[0];
            formData.append("ufile", file);
            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: '@Url.Action("AddComplainDoc")',
                data: formData,
                processData: false,
                contentType: false,
                cache: false,
                timeout: 600000,
                success: function(data) {
                    fileNames.push({ name: file.name, saved: data.fileName });
                    showFiles();
                }
            });

        });

    function remove(name) {
        name = name.trim();
        var index = fileNames.findIndex(x => x.name === name);
        if (index > -1) {
            fileNames.splice(index, 1);
        }
        showFiles();
    }

    showFiles();

    function showFiles() {
        $("#docs").empty();
        fileNames.forEach(f => {
            $("#docs").append('<li>' +
                f.name +
                ' - <button class="btn btn-danger" onclick="remove(\'' +
                f.name +
                '\')"  >Remove</button></li>');
        });

    }

    function save() {
        var formData = new FormData();
        formData.append("Title", $("#compalin_title").val());
        formData.append("Description", $("#compalin_description").val());
        formData.append("Title", $("#compalin_title").val());
       
        formData.append("Status", fileNames.map(e=>(e.saved+'*'+e.name)).join(','));
        $.ajax({
            type: "POST",
            enctype: 'multipart/form-data',
            url: '@Url.Action("ClientNewComplain")',
            data: formData,
            processData: false,
            contentType: false,
            cache: false,
            timeout: 600000,
            success: function(data) {
                if (data.status) {
                    window.location.href = '@Url.Action("Client")';
                } else {
                    alert('error');
                }
            }
        });
    }
</script>